{
  "extends": ["airbnb-base", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "linebreak-style": "off",
    "max-len": "off",
    "no-useless-computed-key":"off"
  }
}
